.User-card-container {
  display: flex;
  /* flex: 1; */
  padding: 15px;
  gap: 20px;
  margin: 25px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 300px;
}

.User-img-container {
  height: 50px;
}
.User-img {
  height: 100%;
}

.User-details {
}
